*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.baslik {
  border-bottom: 1px solid #e7e9fc;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-nav {
  display: flex;
}
.navbar {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
}
.menu-listesi-ul {
  display: flex;
  gap: 40px;
}
.navlist {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: flex;
  gap: 40px;
}
.navlist:hover {
  color: #404bbf;
}
.navlist:focus {
  color: #404bbf;
}
.navlist:visited {
  color: #404bbf;
}
.navbaglanti {
  color: #2e2f42;
  padding-top: 24px;
}
.navbaglanti:hover {
  color: #404bbf;
}
.navbaglanti:focus {
  color: #404bbf;
}
.container-additional {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.iletisim {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  margin-left: auto;
}
.iletisim:hover {
  color: #404bbf;
}
.iletisim:focus {
  color: #404bbf;
}
.adres-liste-ul {
  display: flex;
  gap: 40px;
}
.adreslisteelemani {
  color: #434455;
}
.adreslisteelemani:hover {
  color: #404bbf;
}
.adreslisteelemani:focus {
  color: #404bbf;
}
.adresbaglanti {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adresbaglanti:hover {
  color: #404bbf;
}
.adresbaglanti:focus {
  color: #404bbf;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 76px;
  padding: 24px 0;
}

.log-span {
  color: #2e2f42;
  margin-right: 76px;
}

.sector-bir {
  background-color: #2e2f42;
  padding: 188px 0;
}
.sector-bir .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sector-birbaslik {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  max-width: 496px;
}

.sector-birbutton {
  display: block;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.sector-birbutton:hover {
  background-color: #404bbf;
}
.sector-birbutton:focus {
  background-color: #404bbf;
}

.sector-iki {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 120px 0;
}
.sector-ikilist {
  display: flex;
  gap: 24px;
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
  flex-direction: column;
}
.sector-ikilist-eleman {
  gap: 24px;
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}
.sector-ikilist {
  margin-right: 0;
  width: calc((100% - 72px) / 4);
}
.sektor-ikiparagraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
}
.sector-uc {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.sector-ucbaslik {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.sector-iki-baslik {
  visibility: hidden;
}
.sector-ikihuc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.sector-iki-list-div {
  display: flex;
  gap: 24px;
  flex-direction: row;
}
.sector-uc-ul {
  display: flex;
  gap: 24px;
}
.sector-ucliste {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  flex-direction: column;
}
.sector-ucliste-div {
  padding: 32px 0;
}
.sector-uc-huc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.sector-ucparagraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
  text-align: center;
}
.sector-dort {
  padding: 120px 0 120px 0;
}
.sector-dort:h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.sector-dort:h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.sector-dort:p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.sector-dort-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.sector-dortliste {
  width: calc((100% - 48px) / 3);
}
.sector-dort-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.alt-bilgi {
  background-color: #2e2f42;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 100px 0 100px;
}
.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.alt-span {
  color: #f4f4fd;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-sector-iki {
  padding: 120px 0;
  flex-direction: row;
  display: flex;
  gap: 24px;
}
.footer .footer-p {
  max-width: 264px;
  background-color: #2e2f42;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.container-footer {
  padding: 100px 0;
  flex-direction: column;
  display: inline-block;
}
.footer {
  background-color: #2e2f42;
}
.footer-div {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  flex-direction: column;
}
